<div class="panel panel-default band-panel">
  <div class="panel-body">
    <h4 class="panel-title band-description-header">
      Description
    </h4>
    <p>
      {{model.description}}
    </p>
  </div>
</div>
