<ul class="list-group songs">
  {{#if canCreateSong}}
    <li class="list-group-item">
      <form {{action 'createSong' on='submit'}}>
        {{input type='text' class='new-song' placeholder='New song' value=title}}
        <button type="submit" class="btn btn-primary btn-sm new-song-button" disabled={{isAddButtonDisabled}}>
          Add
        </button>
      </form>
    </li>
  {{/if}}
  {{#unless canCreateSong}}
    <li class="list-group-item empty-list">
      <div class="empty-message">
        There are no songs yet. Why don't you <a href="#" {{action 'enableSongCreation'}}>create one?</a>
      </div>
    </li>
  {{/unless}}
  {{#each model.songs as |song|}}
    <li class="list-group-item song">
      {{song.title}}
      {{star-rating rating=song.rating item=song on-click=(action 'updateRating')}}
    </li>
  {{/each}}
</ul>
