<div class="col-md-4">
  <div class="list-group">
    <div class="list-group-item">
      <form {{action 'createBand' on='submit'}}>
        {{input type='text' class='new-band' placeholder='New band' value=name}}
        <button type="submit" class="btn btn-primary btn-sm new-band-button" disabled={{isAddButtonDisabled}}>
          Add
        </button>
      </form>
    </div>
    {{#each model as |band|}}
      {{#link-to 'bands.band' band class='list-group-item band-link'}}
        {{band.name}}
        <span class="pointer glyphicon glyphicon-chevron-right"></span>
      {{/link-to}}
    {{/each}}
  </div>
</div>
<div class="col-md-8">
  {{outlet}}
</div>
